block variables
doctype html 
html(class= isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "" lang="en")  
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        base(href="/")

        title=metadata.data.title

        meta(name="description" content= metadata.data.description )

        link(rel="icon" size="180x180" href="/apple-touch-icon-v2.png")
        link(rel="icon" type="image/png" size="32x32" href="/favicon-32x32-v2.png")
        link(rel="mask-icon" href="/safari-pinned-tab-v2.svg" color="#5bbad5")

        meta(property="og:type" content="website")
        meta(property="og:title" content=metadata.data.title)
        meta(property="og:description" content=metadata.data.description)
        meta(property="og:image" content=metadata.data.image ? metadata.data.image.url : "")

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content=metadata.data.title)
        meta(name="twitter:description" content=metadata.data.description)
        meta(name="twitter:image" content=metadata.data.image ? metadata.data.image.url : "")

        link(rel="stylesheet" href="main.css")

    body 
        include ./partials/preloader
        include ./partials/navigation

        .content#content(data-template=template)
            block content

        script.
         window.ASSETS = !{JSON.stringify(assets).replace(/<\//g, "<\\/")}   
          
        script(src="main.js")   