extends ../base.pug 

block variables     
    - var template ="about"

block content 

    .about(data-background="#B2B8C3" data-color="#F9F1E7") 
        .about__wrapper
            figure.about__image 
                img.about__media(alt=about.data.image.alt src=about.data.image.url)
            .about__description
                h1.about__title=about.data.title 
                p.about__description__text=about.data.description[0].text
                p.about.content=about.data.content[0].text 

