extends ../base.pug 

block variables     
    - var template = 'home'

block content 

    .home
        .home__wrapper
            .home__title
                each project, index in projects 
                    article.home__title__article(class=`${index === 0 ?'home__title__article--active' : ''}`) 
                        h1.home__title__article__title=project.data.title

            .home__gallery 
                .home__gallery__wrapper
                    each project, index in projects
                        a.home__gallery__link(href=Link(home.data.projects[index].projects_project) aria-label=projects[index].data.title)
                            figure.home__gallery__media(data-index=index)
                                img.home__gallery__media__image(alt=project.data.image.alt data-src=project.data.image.url )
                            

            .home__content
                each project, index in projects
                    article.home__article(class=`${index === 0 ?'home__article--active' : ''}`) 
                        each slice in project.data.body
                            if slice.slice_type=='description'
                                h2.home__article__title=slice.primary.intitulation
                                p.home__article__description=slice.primary.text
            a.contact__btn.common__button(href="contact")="Let's get in touch"